<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Obrisk Signup</title>
    <link rel="stylesheet" type="text/css" href="/static/css/signup.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
</head>


<body class="signup__container">

  <div class="container__child signup__thumbnail">
    <div class="thumbnail__logo">
      <h1 class="logo__text">Obrisk</h1>
    </div>
    <div class="thumbnail__content text-center">
      <h1 class="heading--primary">Welcome Here.</h1>
      <h2 class="heading--secondary">Are you ready to join the ride?</h2>
    </div>
    <div class="thumbnail__links">
      <ul class="list-inline m-b-0 text-center">
        <li><a href="http://alexdevero.com/" target="_blank"><i class="fa fa-globe"></i></a></li>
        <li><a href="https://www.behance.net/alexdevero" target="_blank"><fa class="fa fa-behance"></fa></a></li>
        <li><a href="https://github.com/alexdevero" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="https://twitter.com/alexdevero" target="_blank"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </div>
    <div class="signup__overlay"></div>
  </div>


  <div class="container__child signup__form">
    <form action="#">
      <div class="form-group">
        <label for="username">Name</label>
        <input class="form-control" type="text" name="username" id="username" placeholder="Full Name" required />
      </div>
      <div class="form-group">
        <label for="email">Phone</label>
        <input class="form-control" type="text" name="email" id="email" placeholder="Phone number" required />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text" name="email" id="email" placeholder="email@work.com" required />
      </div>
      <div class="form-group">
        <label for="email">Company</label>
        <input class="form-control" type="text" name="email" id="email" placeholder="Registered Name" required />
      </div>
      <div class="form-group">
        <label for="email">Position</label>
        <input class="form-control" type="text" name="email" id="email" placeholder="Eg CTO" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="********" required />
      </div>
      <div class="form-group">
        <label for="passwordRepeat">Repeat Password</label>
        <input class="form-control" type="password" name="passwordRepeat" id="passwordRepeat" placeholder="********" required />
      </div>
      <div class="form-group">
        <label for="email">Invitation ID</label>
        <input class="form-control" type="text" name="email" id="email" placeholder="From our BD" required />
      </div>

      <p id="error">  </p>
      <div class="m-t-lg">
        <ul class="list-inline">
          <li>
            <input class="btn btn--form" type="button" id="submit" value="Register" />
          </li>
          <li>
            <a class="signup__link" href="/login/"> Already have an account?</a>
          </li>
        </ul>
      </div>
    </form>  
  </div>

</body>


<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
      const results = document.getElementById('error');

      document.getElementById('submit').addEventListener('click', function (event) {
          results.textContent="Invalid Invitation ID" ;
          try {
              fetch(
                  '/signup/', {
                  method : "POST",
                  body: new FormData(document.querySelector("form")),
                  credentials: 'same-origin',
                  headers: {
                    "X-Requested-With": "XMLHttpRequest"
                  },
                  redirect: 'follow'
                }).then (resp => resp.json())
                  .then (data => {
                    if (data.success === true) {
                        window.location.replace(data.nxt);
                    } else {
                        results.innerHTML="<p class='error-text'>" + data.error_message + "</p>" ;
                   }
              }).catch(error => {
                  console.log('Access Denied');
              }) 
              
          }catch {
              console.log('Access Denied');
          }
      });

    });

</script>

</html>

